:root {
  --color-background: #051316;
  --color-highlight-blue: #54c8e8;
  --color-card: #22363a;
  --color-type: #eefafd;
}

body p {
  color: var(--color-type);
}

.btn-main {
  background-color: #54c8e8;
  color: var(--color-background);
}

.btn-nav {
  background-color: var(--color-type);
  color: var(--color-background);
}

.btn-secondary-b {
  background-color: #386a80;
  color: var(--color-type);
}

.btn-main:hover {
  background-color: #1caad1;
}

.btn-nav:hover {
  background-color: #b7eaf7;
}

.btn-secondary-b:hover {
  opacity: 0.7;
}

.btn-close {
  background-color: var(--color-highlight-blue);
}

.cta-callout {
  background-color: var(--color-highlight-blue);
  color: var(--color-background);
}

.cta-callout h2 {
  color: var(--color-background);
}

.cta-callout .btn-primary {
  background-color: var(--color-type);
}

h1,
h2,
h3 {
  color: var(--color-type);
}

.k1-features__feature {
  background: transparent;
}

body {
  background-color: var(--color-background);
}

nav a {
  color: var(--color-type);
}

.offcanvas {
  background-color: rgba(19, 113, 139, .5);
  backdrop-filter: blur(1rem);
  color: var(--color-type);
}

.price {
  color: var(--color-type);
}

.social-proof__card.card {
  background-color: var(--color-card);
}

.social-proof__card.active {
  background-color: red;
}
