:root {
  --color-background: #051316;
  --color-highlight-blue: #54c8e8;
  --color-card: #22363a;
  --color-type: #eefafd;
}

body p {
  color: var(--color-type);
}

.btn-primary {
  background-color: #54C8E8;
  color: var(--color-background);
}

.btn-secondary {
  background-color: var(--color-type);
  color: var(--color-background);
}

.cta-callout {
  background-color: var(--color-highlight-blue);
  color: var(--color-background);
}

.cta-callout h2 {
  color: var(--color-background);
}

.cta-callout .btn-primary {
  background-color: var(--color-type);
}

h1, h2, h3 {
  color: var(--color-type);
}

.k1-features__feature {
  background: transparent;
}

body {
  background-color: var(--color-background);
}

nav a {
  color: var(--color-type);
}

.social-proof__card.card {
  background-color: var(--color-card);
}