body {
  height: 200vh;
}

.btn-nav {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.btn-main {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.btn-secondary-b {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.cta-callout {
  height: 10rem;
  align-items: center;
}

.final-cta {
  text-align: center;
}

.logo,
.logo__img {
  vertical-align: center;
}

nav ul {
  list-style: none;
  justify-content: space-between;
  width: 40%;
  max-width: 25rem;
  align-items: center;
}

nav {
  justify-content: space-between;
}

.home-hero {
  height: 50vh;
  align-items: center;
  padding-bottom: 4rem;
}

.home-hero__image {
  width: 100%;
}

.k1-features__image {
  border-radius: 0.7rem;
  box-shadow: 0px 0px 30px 0px rgba(84, 200, 232, 0.23);
}

main section {
  margin: 6.25rem auto;
}

.offcanvas-body,
.offcanvas-title {
  text-align: center;
}

.social-proof__cards {
  overflow-x: scroll;
  align-self: center;
  width: 100%;
}

.social-proof__card {
  flex: 0 0 auto;
  padding: 2rem;
  margin-right: 3rem;
  width: 40rem;
}

.social-proof__card.card-body {
  display: flex;
}

/* header {
  background-image: url("../images/Group\ 27.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% -24rem;
} */

.background-graphics {
  background-image: url("../images/background-graphics.svg");
  background-size: 115%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 200vh;
}
